@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
/* Custom styles for the Select component */
.select-trigger {
  @apply bg-[#1e1f45] border-0 text-white;
}

.select-content {
  @apply bg-[#1e1f45] border-gray-700;
}

.select-item {
  @apply text-white hover:bg-[#2A2B4A];
}

